
/* Add font files for Helvetica */
@font-face {
  font-family: 'Helvetica';
  src: url('fonts/helvetica.woff2') format('woff2'),
       url('fonts/helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-helvetica: 'Helvetica', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-black {
  color: var(--text-black);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 80%;
  height: auto;
}

/* Prototype Links (v5.6.0) */
a.prototype-link {
  text-decoration: none;
  color: inherit;
  display: contents;
}

.text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.lightseeker-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.adidas-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.frame-17-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-6-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 0, 0, 1);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-helvetica);
  font-weight: normal;
  font-size: 15px;
  line-height: 119.0000057220459%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: left;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.test-1 {
@media (max-width: 1440px) {
  .test-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .test-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
